/*para todos*/
*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}

h1{
    width: 100%;
    font-size: 60px;
    padding: 30px 60px;
}
p{
    width: 100%;
    font-size: 28px;
    padding: 20px 60px;
}

/*menu de las tres paginas*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 60px;
    padding: 0px 40px;
    background-color: black;
    
}

.logo{
    font-size: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    list-style: none;
}

/*visual del fondo*/
.seccion-uno{
    position: relative;
    width: 100%;
    height: 200vh;
    min-height: 900px;
    background-color: white;
    background-image: url(img/imagenfondo3.jpg);
    background-size: cover;
    background-position: center top;
}
/*----------------*/
.seccion-uno-hijo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.seccion-dos-hijo{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.seccion-tres-hijo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*---------------*/

/*Pagina 1 index*/
.contenedor-contenido{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    height: 100%;
}

.contenido-texto{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.contenido-texto button{
    margin-top: 40px;
    padding: 15px 90px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    background-color: black;
}

.contenido-texto button:hover{
    background-color: gray;
}

.contenedor-slider
{
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    padding: 60px 10px;
}

.botton{
    height: 40px;
    width: 40px;
    background: black;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.botton:hover{
    background: gray;
}

.slider-screen{
    width: 100%;
    
}

.slider-screen img{
    width: 100%;
    display: block;
    border-radius: 15px;
}

/*pagina 2 Contacto*/
.Contactform{
    width: 600px;
    padding: 20px 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 0 0 0 10px black,
                0 15px 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Contactform h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.errores{
    margin: auto;
}

.Contactform label{
    display: flex;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    
}

.Contactform input{
    width: 100%;
    padding: 5px 3px;
    background-color: gray;
    font-size: 22px;
    
}

.Contactform textarea{
    height: 130px;
    width: 100%;
    font-size: 22px;
    line-height: 40px;
    background-color: gray;
    color: white;
}

.botons{
    width: 100%;
    background: black;
    border: none;
    padding: 12px 0px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.botons:hover{
    background: gray;
}

.mensajeEnviado{
    background-color: black
}

/*pagina 3 Articulos*/
img{
    width: 100%;
}

.item{
    border-radius: 10px;
    width: 350px;
    background-color: black;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item:hover img{
    transform: scale(1,2);
}

.item figure{
    overflow: hidden;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.contenedor-productos{
    display: flex;
    width: 400%;
    height: 100%;
    gap: 10px;
    padding: 30px 10px;
}

.info{
    padding: 14px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info h2{
    font-weight: 900;
}

.precio{
    font-size: 25px;
    font-weight: 200;
    margin: auto;
}

.info button{
    border: none;
    background: none;
    background-color: gray;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

.info button:hover{
    background: silver;
}
